# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch
*.db
*.idb
*.pdb
*.opendb
*.TMP

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.log
*.tlog
*.aps

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other File Types
*.suo

# Directories
*.vs
/.vs
/.vscode
/ipch
*Debug
/Debug
*x64
/x64
/Code/.vs
/Code/ipch
/Bin
/Build
/Workspace
